/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* color palette 
#3A2620 (dark brown)
#AA9581 (light brown)
#416A8E (muted blue)
#7A9FC2 (light blue)
#FFFFFF (white)
#000000 (black)
*/


/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;    
}
h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar styles */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px; /* Target navbar logo and adjust logo size as was too big */
}


/* Header styles */

#header .lead {
    font-family: var(--secondary-font);
}

/*Service Card Styles */

#services .card-footer {
    font-weight: bold; /* make card footer text bold */
    color: var(--highlight-color); /* change footer text color to blue */
    background-color: transparent; /*removes default gray background from bootstrap card footer*/
}

#services .card {
    margin-bottom: 1.5rem; /* add margin below each card for spacing on smaller screens */
}


/* Game library cards styles */

#new-games .card,
#fav-games .card {
    border: none;
}



/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media Queries always at the bottom of CSS file */

/*tablet and up making the service cards the same height for consistency */
@media screen and (min-width: 768px) {
#services .card-body {
    min-height: 191px; /* set a min height for card bodies on tablet and larger screens */
    }
}

/*Large devices (small laptops 992px and up) less space in service cards  */
@media screen and (min-width: 992px) {
#services .card-body {
    min-height: auto; /* remove min height for card bodies on large screens */
    }
}

/*XL devices (desktop 1200px and up) service cards alignment  */
@media screen and (min-width: 1200px) {
#services .card-body {
    min-height: 220px; /* service cards the same height for consistency */
    }
}

/*XXL devices (1400px and up) service cards alignment*/
@media screen and (min-width: 1400px) {
#services .card-body {
    min-height: 195px; /* service cards the same height for consistency */
    }
}