/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* color palette 
#3A2620 (dark brown)
#AA9581 (light brown)
#416A8E (muted blue)
#7A9FC2 (light blue)
#FFFFFF (white)
#000000 (black)
*/


/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;    
}
h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Button styles */

.custom-button-filled {
border: 2px solid var(--highlight-color); /* blue border */
background-color: var(--highlight-color); /* blue background */
color: white; /* white text */
}

.custom-button-filled:hover {
border: 2px solid var(--secondary-color); /* light brown border on hover */
background-color: var(--secondary-color); /* light brown background on hover */
color: white; /* white text */
}

/* Book button styles in header */

.custom-button-outline {
    border: 3px solid var(--highlight-color); /* blue border */
    padding: 7px 25px; /* adjust padding for better size */
    color: var(--highlight-color); /* blue text */
}

.custom-button-outline:hover {
    background-color: var(--highlight-color); /* blue background on hover */
    color: white; /* white text on hover */
}

/* Navbar styles */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px; /* Target navbar logo and adjust logo size as was too big */
}


/* Header styles */

#header .lead {
    font-family: var(--secondary-font);
}


/*Service Card Styles */

#services .card-footer {
    font-weight: bold; /* make card footer text bold */
    color: var(--highlight-color); /* change footer text color to blue */
    background-color: transparent; /*removes default gray background from bootstrap card footer*/
    transition: color 0.3s ease-in-out; /* smooth color transition on hover */
}

#services .card {
    margin-bottom: 1.5rem; /* add margin below each card for spacing on smaller screens */
}


/* Game library cards styles */

#new-games .card,
#fav-games .card {
    border: none;
}

/* Footer and contact styles */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);  /* change icon colors to light brown */
    font-size: 1.2rem; /* increase icon size */
    margin-right: 15px; /* space between icons and text */
}

#contact .social-links i {
    font-size: 1.9rem; /* increase social media icon size */
    margin: 0 10px; /* space between social media icons */
    color: var(--highlight-color-light);  /* change icon colors to light blue */
}

#contact .social-links i:hover {
    color: var(--secondary-color);  /* change icon color to light brown on hover */
}


#contact .table-dark * { /* wildcard * to target all child elements in the table */
    background-color: transparent; /* ensure transparent for readability */
}
/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media Queries always at the bottom of CSS file */

/*tablet and up making the service cards the same height for consistency */
@media screen and (min-width: 768px) {
#services .card-body {
    min-height: 191px; /* set a min height for card bodies on tablet and larger screens */
    }
}

/*Large devices (small laptops 992px and up) less space in service cards  */
@media screen and (min-width: 992px) {
#services .card-body {
    min-height: auto; /* remove min height for card bodies on large screens */
    }
}

/*XL devices (desktop 1200px and up) service cards alignment  */
@media screen and (min-width: 1200px) {
#services .card-body {
    min-height: 220px; /* service cards the same height for consistency */
    }
}

/*XXL devices (1400px and up) service cards alignment*/
@media screen and (min-width: 1400px) {
#services .card-body {
    min-height: 195px; /* service cards the same height for consistency */
    }
}